h1,h2,h3,h4,h5{
	margin: 0;
	margin-bottom: 1vh;
}



#cv-1{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#marge{
	padding-right: 2%;
	padding-left: 0.5%;

}

#marge ul li{
 	list-style: none;
 	margin-bottom: 2%;
}

section div{
	margin-bottom: 2%;
}

.couleur-cv{
	color: royalblue;
}

.cv_julian{
	font-size: 0.8em;
}